<mat-card-content (click)="openDialog(player)">
  <div class="card-photo">
    <app-loader-img class="spinner"></app-loader-img>
    <img class="card-photo-img"  mat-card-image src="{{player.link}}" onerror="this.src = '../../../assets/no-photo.png'">
  </div>
  <h2>{{player.name}}</h2>
  <p>{{player.teamName}}</p>
  <mat-grid-list cols="2" rowHeight="40px">
    <mat-grid-tile><span>MPG:&nbsp;</span> {{player.minutesPerGame}}&nbsp;min</mat-grid-tile>
    <mat-grid-tile><span>FTP:&nbsp;</span> {{player.freeThrowPercentage}}%</mat-grid-tile>
    <mat-grid-tile><span>PPG:&nbsp;</span> {{player.pointsPerGame}}</mat-grid-tile>
    <mat-grid-tile><span>APG:&nbsp;</span> {{player.assistsPerGame}}</mat-grid-tile>
    <mat-grid-tile><span>SPG:&nbsp;</span> {{player.stealsPerGame}}</mat-grid-tile>
    <mat-grid-tile><span>BPG:&nbsp;</span> {{player.blocksPerGame}}</mat-grid-tile>
    <mat-grid-tile><span>TPG:&nbsp;</span> {{player.turnoversPerGame}}</mat-grid-tile>
    <mat-grid-tile><span>SPG:&nbsp;</span> {{player.stealsPerGame}}</mat-grid-tile>
  </mat-grid-list>
</mat-card-content>
<mat-icon [style.color]="player.favorite ==true?'red':'gray'" (click)="getLocal(player)" class="example-icon">favorite</mat-icon>
