.content{
  width: 1200px;
  margin: 0 auto;
}
.example-card {
  max-width: 300px;
  margin: 20px;
  float: left;
}
.mat-card {
  height: 480px;
  width: 300px;
}

.mat-figure {
  justify-content: left!important;
}
