<div class="loading-overlay" >
  <mat-progress-bar mode="determinate" [value]="bufferValue"></mat-progress-bar>
</div>
<div class="content">
  <div *ngIf="condition">
    <mat-card  class="example-card" *ngFor="let team of teams">
      <mat-card-content (click)="toggle(team.tag)" >
        <img mat-card-image src="{{team?.logo}}" alt="logo {{team.name}}">
        <h2>{{team.name}}</h2>
        <p>
          {{team.desc}}
        </p>
      </mat-card-content>
    </mat-card>
  </div>
  <div *ngIf="!condition">
    <mat-card class="example-card" *ngFor="let player of players">
      <app-card-player [player]="player"></app-card-player>
    </mat-card>
  </div>
</div>
