@import "~@angular/material/prebuilt-themes/indigo-pink.css";

*{
  margin: 0;
  padding: 0;
}
.example-icon {
  padding: 0 14px;
  cursor: pointer;
}
.example-spacer {
  flex: 1 1 auto;
}
.mat-figure span{
  font-weight: bold;
}
.mat-figure {
  justify-content: left !important;
  font-size: 16px;
}

.mat-icon{
  float: right;
}
.clear{
  clear: left;
}
.content{
  width: 1200px;
  margin: 0 auto;
}

.card-photo{
  height: 250px;
  overflow: hidden;
  position: relative;
}
.spinner{
  position: absolute;
  left: 30%;
  top: 15%;
}
.card-photo-img{
  background: white;
  position: absolute;
}
.example-card {
  max-width: 300px;
  margin: 20px;
  float: left;
}
.mat-card {
  height: 480px;
  width: 300px;
}

.mat-figure {
  justify-content: left!important;
}
